<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
   <link rel='stylesheet' href='/css/styles.css'>
    <meta charset="utf-8">
    <title>Hair Salon</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a href='/'>Home</a></li>
            <li><a href="#">Stylists</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>

      <div class="about">
        <h3>A LONG TIME AGO . . . </h3>
        <h4>Fifth St. Salon was established in 1950's as the first salon in the neighborhood. Our business has always been to serve our clients while providing an inclusive community and contributing to helping others thrive.</h4>
        <img id="aboutImage" src="/img/vintage.jpg">
      </div>
      <div class="center">
        <h1>FIFTH ST. SALON</h1>
      </div>
    </div>
  </body>
</html>
