<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/css/styles.css'>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <h2>Edit {{ client.getName }}'s name!</h2>
                <form action="/clients/{{ client.getId }}" method="post">
                    <input name="_method" type="hidden" value="patch">

                    <label for="new_name">Edit name:</label>
                    <input id="new_name" name="new_name" type="text" required>

                    <button class="btn btn-danger"  type="submit">Edit</button>
                </form>

                <form action="/clients/{{ client.getId }}" method="post">
                    <input name="_method" type="hidden" value="delete">
                    <button class="btn btn-danger" type="submit">Delete this client</button>
                </form>
                <h2><a href="/">Home</a></h2>
        </div>
    </body>
</html>
