<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
   <link rel='stylesheet' href='/css/styles.css'>
    <meta charset="utf-8">
    <title>Hair Salon</title>
  </head>
  <body>
    <div class="container">
        {% if stylists is not empty %}
        <h4>Our Available Stylists:</h4>
        <ul>
            {% for stylist in stylists %}
            <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getName }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <h1>Empty</h1>
        {% endif %}

        <h4>Add a Stylist here:</h4>
          <form action="/add_stylist" method="post">
              <label for="name">Stylist Name:</label>
              <input name="name" type="text">

              <button class="btn-info" type="submit">Add</button>
          </form>

        <h4>Clear Stylists</h4>
          <form action="/delete_stylists" method="post">
              <button type="submit">CLEAR</button>
          </form>
    </div>

  </body>
</html>
